<!-- Sidebar -->
<aside class="docs-sidebar">
    <h3>Getting Started</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/docs/">Introduction</a></li>
        <li><a href="{{ site.baseurl }}/docs/installation/">Installation</a></li>
        <li><a href="{{ site.baseurl }}/docs/quickstart/">Quick Start</a></li>
        <li><a href="{{ site.baseurl }}/docs/configuration/">Configuration</a></li>
    </ul>
    
    <h3>Core Concepts</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/docs/routing/">Routing</a></li>
        <li><a href="{{ site.baseurl }}/docs/middleware/">Middleware</a></li>
        <li><a href="{{ site.baseurl }}/docs/requests-responses/">Requests & Responses</a></li>
        <li><a href="{{ site.baseurl }}/docs/container/">Service Container</a></li>
    </ul>
    
    <h3>Features</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/docs/security/">Security</a></li>
        <li><a href="{{ site.baseurl }}/docs/events/">Events</a></li>
        <li><a href="{{ site.baseurl }}/docs/validation/">Validation</a></li>
        <li><a href="{{ site.baseurl }}/docs/database/">Database</a></li>
    </ul>
    
    <h3>Advanced</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/docs/providers/">Service Providers</a></li>
        <li><a href="{{ site.baseurl }}/docs/testing/">Testing</a></li>
        <li><a href="{{ site.baseurl }}/docs/deployment/">Deployment</a></li>
    </ul>
</aside>